# This is a basic workflow to help you get started with Actions

name: Build Post list

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a set of commands using the runners shell
      - name: Build post list
        run: |
          python3 -c "import os;import json;print(json.dumps(list(map((lambda name: {'slug': name,'title': ([f[2:].strip() for f in open(os.path.join(os.getenv('GITHUB_WORKSPACE'), name),'r').read().split('\n') if f[:2]=='# '] or [name])[0]}),[f for f in os.listdir(os.getenv('GITHUB_WORKSPACE')) if os.path.isfile(os.path.join(os.getenv('GITHUB_WORKSPACE'),f))]))))" > posts.json
          rm -rf .github
          git add posts.json
      - name: Push changes
        uses: dciborow/commit@0.0.1
        with:
          push-branch: gh-page
          github-token: ${{ github.token }}
          force-push: true
